/*~ imagenes ~*/

.imagen-02 {
    max-width: 100%;
}


/*~ edufisica ~*/
.imagen-portadaedu {
    max-width:100%;
}


/*~ noticias ~*/

.imagen-noticiasportada {
    max-width: 100% ;
    height: 250px;
    width: 700px;
}