/*~ section ~*/



.section__fitness-campodedeportes {
    padding: 30px;
    height: 590px;
background: linear-gradient(to left , #0673f4, #ace3ff );
}

.section__macabi-semuestra   {
padding: 30px ;
background: linear-gradient(to left , #06f4d9, #10acec );
height: 590px;
}

.section__ventadeproductospesaj {
    padding: 30px;
    background: linear-gradient(to left , #0673f4, #ace3ff );
    height: 590px;
}

.section-claseabiertadeteatro {
    padding: 30px;
    background: linear-gradient(to left , #06f4d9, #10acec );
    
}

.section__asamblea-de-socios {
    padding: 30px;
    background: linear-gradient(to left , #0673f4, #ace3ff ); 
    height: 525px;
}

.section__hockey {
    padding: 30px;
    background: linear-gradient(to left , #06f4d9, #10acec );
}

/*~ educacion fisica ~*/

.section__educacionfisica {
    display: flex;
    justify-content: center;
    padding: 30px;
}

#section__educacionfisicaportada {
    display: flex;
    justify-content: center;
    height: 500px;


}

@media screen and (max-width: 700px) {
    
    #section__educacionfisicaportada {
        padding-left: 30px;
    }


}

.section__educacionfisica-02 {
    display: flex;
    justify-content: center;
    padding: 30px;
    height: 550px;

}

/*~ noticias ~*/
 #section__noticias {
    padding-left: 200px;
    height: 350px;
    
}

@media screen and (max-width: 700px) {
    
    #section__noticias {
        padding-left: 30px;
    }

}

  
.card-img-top {
    grid-area: noticia;
}

.noticias-03 {
    grid-area: noticias;
}


 .container {
    background: linear-gradient(to left , #06f4d9, #10acec ); 
 }
